* {
    margin: 0%;
    padding: 0%;
}

.header {
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 8, 85);
}

.heading {
    color: white;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(161, 166, 164);
}

.contentDiv {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    width: 70%;
    height: 70%;
    padding: 10px
}

.colorPicker {
    margin: auto;
    /* border: 0;
    padding: 0; */
    /* background: none; */
    width: 150px;
    height: 50px;
}

.Btn {
    color: aliceblue;
    background-color: black;
    width: 150px;
    height: 50px;
    border-radius: 5px;
}

.resetBtn {
    margin: 50px;
}

.Btn:hover {
    background-color: darkblue;
}

.sketchSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sketchDiv {
    margin-top: 1%;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    width: 90%;
    height: 600px;
    margin-bottom: 1%;
    display: flex;
    flex-wrap: wrap;
}

.footer {
    padding: 1%;
    display: flex;
    color: azure;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 8, 85);
}

.element {
    background-color: blanchedalmond;
    padding: 20px;
}